/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* 防止x軸 */
html {
    overflow-y: scroll;
  }
  
  :root {
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  :root body {
    position: absolute;
  }
  
  body {
    width: 100vw;
    overflow: hidden;
  }

/* 不知道為甚麼加入aos效果後，部分區塊會跑出X軸? 原因不明!! 但加入上面那些就可以清掉。 */

/* customized css as following */

img{
    max-width: 100%;
    height: auto;
}
*,*::before,*::after{
    box-sizing: border-box;
}

/* css reset ends. */

body{
    margin: 0 auto;
    font-family:"arial";
    line-height: 1.5;
    
    
}
.container{
    max-width: 1200px;
    margin: 0 auto;

}

.font-i-b{
    font-style: italic;
    font-size: 24px;
    font-weight: bold;
}
.font-i{
    font-style: italic;
    font-size: 24px;
}

.f-sz30{
    font-size: 20px;
}

h2{
    font-size: 64px;
    padding-top: 56px;
    margin-bottom: 40px;
}
h3{
    font-size: 20px;
    margin-bottom: 48px;
    font-style: italic;
}

.header{
    height: 958px; 
    
    background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week2/banner.png?raw=true") no-repeat center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.header span{
    align-self:flex-start;
}
.header h1{
    font-size: 80px;
}
.social-media{
    display: flex;
}
.header a{
    display: block;
    padding-top: 60px;
    padding-right: 16px;
}
.profilo{
    text-align: center;
}
.profilo-content{
    padding-bottom: 32px;
}

hr{
    width: 383px;
    margin: 0 auto;
}
.profilo-motto{
    padding-bottom: 56px;
}
.profilo-motto li{
    padding-top: 28px;
}
.profilo-motto li::before{
    content:"\A";
    margin-left: 5px;
    margin-right: 15px;
    background-color: #891818;
    width: 20px;
    height: 20px;
    display:inline-block;
    border-radius:50%;
    border:1px solid #000;
}
/* Specify a value for the content property, and then add display:inline-block */

.brand{
    background-color:#000;
    color: #ffffff;
    font-style: italic;
    text-align: center;
}
.brand span{
    padding-top: 12px;
    padding-bottom: 32px;
    display: block;
}


.brand p{
    padding-bottom: 68px;
}
.brand-pic{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    margin: 0 auto;
    padding-bottom: 160px;

}
.brand-pic li{
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
}
.collection{
    text-align: center;
}
.collection-ex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 56px;
}

.footer{
    margin-top: 144px;
    padding-bottom: 64px;
    background-color: #000;
    color: #ffffff;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #ffffff;
}
.footer a:hover{
    text-decoration:underline;
}
.contact-info li{
    display: block;
    padding-top: 16px;
}